## python collections
- List
- Tuple
- sets 
- Dictionary

# List
- denoted with [] or list()

In [1]:
a=[]
type(a)

list

In [2]:
a=[1,2,3,4,"sai","gopi","prasana","venkatesh","avinash","gauthami",5.6,True]

In [4]:
print(a)

[1, 2, 3, 4, 'sai', 'gopi', 'prasana', 'venkatesh', 'avinash', 'gauthami', 5.6, True]

In [9]:
a[2:5]

[3, 4, 'sai']

In [10]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [15]:
a=[1,2,3,4,5]
b=[3,4,5,6,7]
a+b

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

In [17]:
print(a)

[1, 2, 3, 4, 5]

## append()--> to insert value or list in the list

In [18]:
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [25]:
a.append([7,8,9,10])
a

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10], 4, [7, 8, 9, 10]]

In [26]:
a.append(4)
a

[1, 2, 3, 4, 5, 6, [7, 8, 9, 10], 4, [7, 8, 9, 10], 4]

In [32]:
a[6][3]

10

# extend()-->to insert values individual values to the list

In [33]:
a=[1,2,3,4]

In [34]:
a.extend([5,6,7,8])
a

[1, 2, 3, 4, 5, 6, 7, 8]

# clear()-->used to remove all values in list

In [38]:
a.clear()

In [39]:
a

[]

In [86]:
a=[1,2,34,5,876]

# pop()-->used to remove last index value of the list

In [87]:
a.pop()
a

[1, 2, 34, 5]

In [88]:
a.pop(2)

34

In [89]:
a

[1, 2, 5]

# copy()-->used to get a duplicate list of perticular list

In [74]:
a=[1,2,6]

In [75]:
a

[1, 2, 6]

In [76]:
b=a

In [77]:
b

[1, 2, 6]

In [78]:
b[1]=54

In [79]:
b

[1, 54, 6]

In [80]:
a

[1, 54, 6]

In [81]:
b=a.copy()

In [83]:
print(b)
print(a)

[1, 54, 6]
[1, 54, 6]

In [84]:
a[1]=3

In [85]:
print(a)
print(b)

[1, 3, 6]
[1, 54, 6]

In [92]:
a=[1,2,3,4]
b=a.copy()
a[2]=6

In [93]:
print(a)
print(b)

[1, 2, 6, 4]
[1, 2, 3, 4]

# Count()--> used to count occurences of values

In [94]:
a=[1,1,1,3,34,5,66,34]

In [95]:
a.count(1)

3

In [96]:
a.count(34)

2

In [97]:
a.count(99)

0

# index()-->used to get index number in perticular value

In [107]:
s=[1,2,2,45,67,"ram",3,4,2,6,5,9,2]

In [115]:
s.index(2,9)

12

# insert()--> used to insert the values to he list based on index

In [116]:
a

[1, 1, 1, 3, 34, 5, 66, 34]

In [120]:
a.insert(4,95)

In [121]:
a

[1, 1, 1, 95, 95, 3, 34, 5, 66, 34]

# remove()-->is used to remove a value from list

In [122]:
a

[1, 1, 1, 95, 95, 3, 34, 5, 66, 34]

In [123]:
a.remove(3)

In [124]:
a

[1, 1, 1, 95, 95, 34, 5, 66, 34]

In [129]:
a.remove(1)

In [130]:
a

[1, 95, 34, 5, 66, 34]

In [131]:
a=[1,1,1,3,4,5,6]

In [132]:
a

[1, 1, 1, 3, 4, 5, 6]

In [133]:
a.remove(1)
a

[1, 1, 3, 4, 5, 6]

In [134]:
a.remove(a[3])

In [157]:
a=[34,4,5.8,1,99]

In [158]:
a.sort()

In [159]:
a

[1, 4, 5.8, 34, 99]

In [160]:
a.sort(reverse=True)

In [161]:
a

[99, 34, 5.8, 4, 1]

## Sample input<br>
a="sai,gopi,prasana,venkatesh,24,24,25,25"<br>
## Sample Output<br>
["sai","gopi",prasana","venkatesh"]
[24,24,25,25,98]

In [169]:
a="sai,gopi,prasana,venkatesh,24,24,25,25"
a=a.split(",")
# declaring empty list for getting result
names=[]
age=[]
for i in a:
    if i.isdigit():
        age.append(int(i))
    elif i.isalpha():
        names.append(i)
d=sum(age)
age.append(d)
print(names)
print(age)

['sai', 'gopi', 'prasana', 'venkatesh']
[24, 24, 25, 25, 98]

# Tuples
- it is denoted with () or tuple()
- like strings it is immutable

In [179]:
s=()
type(s)

tuple

In [181]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [201]:
a=("name","age","email","name")
a

('name', 'age', 'email', 'name')

In [202]:
a[1:]

('age', 'email', 'name')

In [203]:
a.count("name")

2

In [204]:
a.index("name",1)

3

In [198]:
a=("name","age","phone")
b=list(a)
b[2]="mobile"
a=tuple(b)
print(a)

('name', 'age', 'mobile')

# Dictionary
 - it is having key,value pairs.
 - it is also mutable like lists.
 - denoted with {} or dict()

In [225]:
s={
    "name":"apssdc",
    "age":5,
    "salary":500000,
    "hobbies":["dance","chess"]}
s

{'name': 'apssdc', 'age': 5, 'salary': 500000, 'hobbies': ['dance', 'chess']}

In [226]:
s["name"]="venkata Gopi"

In [227]:
s

{'name': 'venkata Gopi',
 'age': 5,
 'salary': 500000,
 'hobbies': ['dance', 'chess']}

In [228]:
print(dir(s))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [229]:
s.keys()

dict_keys(['name', 'age', 'salary', 'hobbies'])

In [230]:
s.items()

dict_items([('name', 'venkata Gopi'), ('age', 5), ('salary', 500000), ('hobbies', ['dance', 'chess'])])

In [231]:
s.values()

dict_values(['venkata Gopi', 5, 500000, ['dance', 'chess']])

In [232]:
s.pop("name")

'venkata Gopi'

In [219]:
s

{'age': 5, 'salary': 500000, 'hobbies': ['dance', 'chess']}

In [220]:
s.popitem()

('hobbies', ['dance', 'chess'])

In [221]:
s

{'age': 5, 'salary': 500000}

In [222]:
s.get("age")

5

In [233]:
s.clear()

In [234]:
s

{}